
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    
    width: 100%;
    height:100%;
}

.filter-bar {
    top: var(--navigation-bar-offset, 0);
    
    border-bottom: 1px solid #dddddd;
    font-size: 16px;
}

.map {
    box-sizing: border-box;

    position: sticky;
    top: var(--navigation-bar-offset, 0);

    width: 100%;
    height: calc(100vh - var(--navigation-bar-offset));
}