
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.block {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "t r" "d ." "p p";
}

.card {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 40%;
    margin: 5%;
}

.card img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card .title {
    overflow: clip;
    text-overflow: ellipsis;
    grid-area: t;
}

.card .description {
    text-overflow: ellipsis;
    grid-area: d;
}

.card .rating {
    grid-area: r;
}

.pricing {
    grid-area: p;
}