
.block {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "t r" "d ." "p p";
}

.card {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 40%;
    margin: 5%;
}

.card img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.one-line {
    max-height: 1em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .title {
    grid-area: t;
}

.card .description {
    grid-area: d;
}

.card .rating {
    grid-area: r;
}

.pricing {
    grid-area: p;
}