
:root {
    --navigation-bar-offset: 80px;
}

.abs-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    box-sizing: border-box;
    height: var(--navigation-bar-offset, 80px);

    border-bottom: 1px solid #dddddd;
}

.search {
    display: flex;

    padding: 5px;

    justify-content: space-between;
    align-items: center;
    gap: 10px;

    border: 1px solid #dddddd;
    border-radius: 20px;

    transition: 200ms;
}

.search:hover {
    box-shadow: 0px 3px 5px 1px #00000033;
}

img.button {
    width: 32px;
    background-color: red;
}

.menu--user {
    padding: 5px 10px;

    border: 1px solid #dddddd;
    border-radius: 10vw;

    transition: 200ms;
}

.menu--user:hover {
    box-shadow: 0px 3px 5px 0.5px #00000033;
}

.menu--user * + * {
    margin-left: 5px;
}